body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #004980;
    font-family: Helvetica, Arial, sans-serif;
}

.level-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.level-box {
    width: 480px;
    height: 459px;
    background: #C2F5FF;
border-radius: 12px;
display: flex;
flex-direction: column;
align-items: center; 
/*justify-content: center; */

}
.selection-buttons-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 67px;
    
}

.level-button {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
border: none;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;

color: #0080C1;
}

.level-select-button {
    width: 246px;
height: 50px;
outline: none;
border: none;
background: #7AC100;
border-radius: 12px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;

}

.level-title {
    font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
width: 208px;
height: 96px;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #004980;
margin-top: 52px;
margin-bottom: 48px;
}